body {
    font: 15px sans-serif;
    background-color: #c3dde6;
}

.white-background {
    background-color: white;
}

.main-header {
    margin-top: 10px;
    background: #9fa8a3;
    padding: 5px;
}

.margin-top-10 {
    margin-top: 10px
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-8 {
    padding: 8px;
}

.padding-left-right-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.input-small, .dropdown-toggle {
    height: 30px;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

.width-60 {
    width: 60px !important;
}

#outlier-table {
    overflow-x: scroll;
    table-layout: fixed;
}

#analysis-panel {
    display: none;
}

.modal-lg {
    max-width: 900px;
}

#reset-zoom {
    position: absolute;
    right: 30px;
}

/**** scatter plot ****/
rect {
    fill: transparent;
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    shape-rendering: crispEdges;
}

.axisLine {
    fill: none;
    shape-rendering: crispEdges;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 2px;
}

.dot {
    fill-opacity: .5;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.x-scroll {
    overflow-x: scroll;
}

.d3-tip {
    z-index: 99999;
}

/**** end scatter plot ****/

/**** Loader *****/

.spinning-circle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 99999999;
    top: 37%;
    left: 46%;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.throbber-overlay {
    position: fixed;
    z-index: 99999998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

/***** end loader ******/